includes:
    - phpstan-baseline.neon.php

parameters:
    level: 3
    paths:
        - ./src
        - ./tests
        - ./config
    exceptions:
        implicitThrows: false
    configDirectories:
        - ./tests
        - ./config

