includes:
    - phpstan-baseline.neon.php

parameters:
    level: 5
    paths:
        - ./src
        - ./tests
        - ./config
    exceptions:
        implicitThrows: false
        reportUncheckedExceptionDeadCatch: false
        check:
            missingCheckedExceptionInThrows: true
        uncheckedExceptionClasses:
            - Psr\SimpleCache\InvalidArgumentException
            - Throwable
    configDirectories:
        - ./tests
        - ./config
