*
!.gitignore
!import.xlsx
!import-formulas.xlsx
!import-formulas-multiple-sheets.xlsx
!import-multiple-sheets.xlsx
!import-users.xlsx
!import-users-with-duplicates.xlsx
!import-users-with-headings.xlsx
!import-empty-users-with-headings.xlsx
!import-users-with-different-heading-row.xlsx
!import-with-some-empty-rows.xlsx
!import-batches.xlsx
!import-batches.csv
!import-titles.tsv
!mapped-import.xlsx
!import-batches-with-heading-row.xlsx
!import-batches-multiple-sheets.xlsx
!value-binder-import.xlsx
!csv-with-other-delimiter.csv
!unknown-reader-type.zip
!import-empty-rows.xlsx
!csv-with-html-tags.csv
!import-external-reference.xls
!csv-with-comma.csv
!import-users-with-grouped-headers.xlsx